<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
          {% if page.title %} {{ page.title }}
          {% else %} {{ site.title }}
          {% endif %}
        </title>
        <html>
        <body>
        <p>
                | head1                                                               | head two          | three |
                |:--------------------------------------------------------------------|:------------------|:------|
                | <td class="menu"><a href="index" class="menu">HOME</a></td>         | good swedish fish | nice  |
                | <td class="menu"><a href="about" class="menu">ABOUT US</a></td>     | good and plenty   | nice  |
                | ok                                                                  | good `oreos`      | hmm   |
                | ok                                                                  | good `zoute` drop | yumm  |
        <font color="red">
            <div class="menu">
                <table class="menu"><tr>
                   <td class="menu"><a href="index" class="menu">HOME</a></td>
                   <td class="menu"><a href="beliefs1" class="menu">OUR BELIEFS</a></td>
                   <td class="menu"><a href="cg" class="menu">DEVOTIONAL</a></td>
                   <td class="menu"><a href="contact" class="menu">CONTACT</a></td>
                   <td class="menu"><a href="books" class="menu">BOOKS</a></td>
                   <td class="menu"><a href="schedule" class="menu">SCHEDULE</a></td>
                   <td class="menu"><a href="about" class="menu">ABOUT US</a></td>
                </tr></table>
            </div>
        </font>
        </p>
    
        </body>
        </html>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">
      </head>