<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
          {% if page.title %} {{ page.title }}
          {% else %} {{ site.title }}
          {% endif %}
        </title>
        <html>
        <body>
        <p>
 

<div class="menu">
        <table class="menu"><tr>
            <td class="menu"><a href="index" class="menu">HOME</a></td>
            <td class="menu"><a href="beliefs1" class="menu">OUR BELIEFS</a></td>
            <td class="menu"><a href="contact" class="menu">CONTACT</a></td>
            <td class="menu"><a href="messages" class="menu">MESSAGES</a></td>
            <td class="menu"><a href="schedule" class="menu">SCHEDULE</a></td>
            <td class="menu"><a href="about" class="menu">ABOUT US</a></td>
            <td class="menu"><a href="prayerRequests" class="menu">PRAYER REQUESTS</a></td>
            <td class="menu"><a href="freedom" class="menu">IN GOD WE TRUST?</a></td>
            <td class="menu"><a href="updatesondavid" class="menu">DAVID HANSON'S STORY</a></td>
            <td class="menu"><a href="lifelines" class="menu">LIFELINES CD</a></td>
            <td class="menu"><a href="njh" class="menu">MONTHLY MEDITATION</a></td>
         </tr></table>
      </div>


        </p>
    
        </body>
        </html>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width">
      </head>