
<div class="menu">
        <table class="menu"><tr>
            <td class="menu"><a href="index" style="color:white" class="menu">HOME</a></td>
            <td class="menu"><a href="about" style="color:white" class="menu">ABOUT US</a></td>
            <td class="menu"><a href="schedule" style="color:white" class="menu">WEEKLY SCHEDULE</a></td>
            <td class="menu"><a href="contact" style="color:white" class="menu">CONTACT</a></td>
            <td class="menu"><a href="lifelines" style="color:white" class="menu">LIFELINES CD</a></td>
            <td class="menu"><a href="messages" style="color:white" class="menu">MESSAGES</a></td>
            <td class="menu"><a href="links" style="color:white" class="menu">LINKS</a></td>
         </tr></table>
      </div>