
<div class="menu">
        <table class="menu"><tr>
            <td class="menu"><a href="index" style="color:black" class="menu">HOME</a></td>
            <td class="menu"><a href="about" style="color:black" class="menu">ABOUT US</a></td>
            <td class="menu"><a href="schedule" style="color:black" class="menu">WEEKLY SCHEDULE   </a></td>
            <td class="menu"><a href="contact" style="color:black" class="menu">CONTACT   </a></td>
            <td class="menu"><a href="prayerRequests" style="color:black" class="menu">PRAYER REQUESTS</a></td>
            <td class="menu"><a href="freedom" style="color:black" class="menu">IN GOD WE TRUST?</a></td>
            <td class="menu"><a href="updatesondavid" style="color:black" class="menu">DAVID HANSON'S STORY</a></td>
            <td class="menu"><a href="lifelines" style="color:black" class="menu">LIFELINES CD</a></td>
            <td class="menu"><a href="messages" style="color:black" class="menu">MESSAGES   </a></td>
            <td class="menu"><a href="links" style="color:black" class="menu">LINKS</a></td>
         </tr></table>
      </div>